.image-list {
    display: grid;
    grid-template-columns: repeat(3, .5fr); 
    gap:5ch 2ch;
    grid-auto-rows: 300px; 
}

.image-list img {
    width: 100%; 
    height: 100%; 
}


.stock_image {
    width:100%;
    background-size: contain;
    z-index: 1;
}

div.initial_card p{
    font-family: cursive;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
}